/* --- Meta/Links view --*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

body {
    --transpointer-color: rgba(90,130,150,0.5);
    --linkpointer-color: rgba(240,90,90,0.6);
    --linkpointer-hovercolor: rgba(240, 120, 120, 0.75);
    --xtext-hovercolor: rgba(240,90,90,0.1);
    --dptronui-bg: #222;
    --dptronui-input-fg: #ddd;
    --dptronui-input-bg: #000;
    --dptronui-select-bg: #181818;
    --dptronui-hotinput-bg: #211;
    --dptronui-font: "Roboto Condensed";
    --dptron-edgeIntensity: 0.7;
    --alph-red: #F66;
    --alph-grey: #333333;
    --dptron-linkerNodeA-fill: #6F6;
    --dptron-linkerNodeB-fill: #FF6;
    --dptron-linkerTerminalA-fill: #30aa3e82;
    --dptron-linkerTerminalB-fill: #bbb81078;
    --dptron-linkerBridge-stroke: #9F9;
    
    /* Colors for floaters... */
    --dptron-FG-15: white;
    --dptron-BG-15: #345;
    --dptron-FG-14: white;
    --dptron-BG-14: #012;
    
    --dptron-FG-13: white;
    --dptron-BG-13: #E69;
    --dptron-FG-12: white;
    --dptron-BG-12: #C6C;
    --dptron-FG-11: white;
    --dptron-BG-11: #97E;
    --dptron-FG-10: black;
    --dptron-BG-10: #79F;
    --dptron-FG-09: black;
    --dptron-BG-09: #6CF;
    --dptron-FG-08: black;
    --dptron-BG-08: #6EF;
    --dptron-FG-07: black;
    --dptron-BG-07: #6FE;
    --dptron-FG-06: black;
    --dptron-BG-06: #7FC;
    --dptron-FG-05: black;
    --dptron-BG-05: #9FE;
    --dptron-FG-04: black;
    --dptron-BG-04: #CE9;
    --dptron-FG-03: black;
    --dptron-BG-03: #EC7;
    --dptron-FG-02: black;
    --dptron-BG-02: #F96;
    --dptron-FG-01: black;
    --dptron-BG-01: #F76;
    --dptron-FG-00: black;
    --dptron-BG-00: #F66;

}
ul.alph-description{
    padding-left: 0em;    
    /*font-family: sans-serif;*/
    font-size: 12px;
}
.alph-description li > ul {
    display: inline-block;
    vertical-align: top;
    padding: 0em 1em;
    border: none;
}
.alph-description li > ul > li {
    border: none;
    margin: 0em;
}
.alph-description li {
    list-style: none;
    padding: 0.1em 0.3em;
    margin: 0.3em;
    background-color: rgba(255,255,255,0.05);
}
.alph-description span.key {
    font-weight: bold;
}
.alph-description span.value {
    margin-left: 1em;
}
.alph-description a {
    text-decoration: none;
}
.alph-description a:hover {
    text-decoration: underline;
}
    
/* --- GLOBAL --- */
#alph-main x-text:empty,
#alph-main span:empty,
#alph-main p:empty { 
    border: solid 2px red;
	padding: 5px; 
}
x-text[src^="!"]{
    /* filter: invert(60%); */
    opacity: 0.66;
}
x-floater .plaintext{
    column-width: 640px;
    font-family: monospace;
    white-space: pre-wrap;
}
x-text{
    /*border-bottom: 2px transparent solid;*/
}
x-text:hover{
    /*border-color: rgba(192,128,96,0.2);*/
    background-color: var(--xtext-hovercolor);
}


/* --- MAIN DIV ---*/
#alph-main {
    pointer-events: all;
    font-size: 14px;
    max-width: 10000px;
    z-index: 0;
    color: #DDD;
    background-color: var(--alph-grey);
    /* background: linear-gradient(0deg, #300, #000); */
}
#alph-main.alphActiveItem {
    /*box-shadow: inset 0px 0px 0px 5px rgba(255,64,64,0.8);*/
}
#alph-main a{
    color: inherit;
    text-decoration: none;
    border-bottom: dotted 1px;
    cursor: pointer;
}
#alph-main a:hover{
    color: inherit;
    text-decoration: none;
    border-bottom: solid 1px;
}
#alph-main input[type="text"]{
    border: solid 1px grey;
    background-color: #222;
    color: #fbb;
}

/* --- PUKEBOX --- */
#alph-main #pukeBox{
  z-index: 99999;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#pukeBox p.pukeText {
  font-family: var(--dptronui-font);
  font-weight: bold;
  color: #FFFC;
  text-shadow: 2px 2px #000C;
  margin-top: auto;
}

/* --- INFOBAR --- */
#alph-footer {
    position: fixed;
    font-size: 10pt;
    font-family: var(--dptronui-font);
    bottom: 0px;
    right: 0px;
    text-align: left;
    padding: 0em;
    color: white;
    background-color: rgba(0,0,0,0.8);
    text-shadow: 1px 1px 1px #000;
    z-index: 1000;
}
#alph-footer *{
    vertical-align: bottom;
}
#alph-logo {
    display: inline-block;
    border: none;
    border-radius: 50%;
    background-color: white;
    margin: 0.4em;
    filter: invert(80%);
    vertical-align: middle;
}
#alph-infotext {
    margin: 0.25em;
    display: inline-block;
    /*word-break: keep-all;*/
    white-space: pre-wrap;
    vertical-align: middle;
}
#alph-infotext *{
    vertical-align: baseline;
}

/* --- FLOATERS/SLIDERS --- */
#alph-floaters{
    z-index: 100;
}
.alph-floater, .alph-slider {
    border: solid rgba(0,0,0,0.67);
    background-color: rgba(212,212,212,0.90); /* rgba(16,16,16,0.9); rgba(255,255,255,0.9) */
    color: #333; /* #DDD */
    /*border-width: 1px;*
    /*border-width: 5px 5px 5px 5px;*/
    /*max-width: 960px;*/
    border-width: 0px 0px 0px 10px;
    border-radius: 0px 0px 0px 10px;
    border-color: var(--dptron-BG-00);
    min-width: 5em;
    cursor: move;
}
#alph-main x-floater > *{
    cursor: auto;
    /* font-family: serif; */
}
#alph-main x-floater {
    font-family: serif;
}
/*
#alph-main x-floater a{ 
    color: #000; !important
}
#alph-main x-floater a:hover{
   
} 
*/
.alph-floater > article, .alph-slider > article,
.alph-floater > div, .alph-slider > div {
    padding: 1em;
}


.alph-floater {
    position:fixed;
}
.alph-slider {
    border-color: rgba(24,24,24,0.5);
    position: absolute;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.4);
}
x-floater.alphActiveItem{
    
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    /*border-color: #B44;
    background-color: rgba(240,240,240,1);*/
}
div.titleTab.alphActiveItem{

    background-color: black;
    color: white;
    /* border-left: 8px solid rgba(255,64,64,0.8); */
}
div.titleTab.alphActiveItem .titleTabBurger{
    /*background-color: var(--alph-red);*/
}
div.titleTab.alphActiveItem .titleTabBurger:hover{
    /*background-color: #FAA;*/
}
/* --- FLOATER OVERLAYS ---*/
.alph-floater-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    fill: none;
    mix-blend-mode: hard-light;
    border: none;
}
/* .alph-floater-overlay * {
    pointer-events: visibleFill;
} */
.alph-floater-overlay line.coincidence{
    stroke-width: 3;
    stroke: rgba(64,128,192,0.4);
    stroke-dasharray: 4,3;
}
.alph-floater-overlay polyline.coincidence{
        stroke-width: 6;
    stroke: rgba(64,128,192,0.4);
}
.alph-floater-overlay line.hyperlink{
    stroke-width: 3;
    stroke: rgba(128,192,64,0.4);
}
.alph-floater-overlay line.weblink{
    stroke-width: 3;
    stroke: rgba(192,64,128,0.4);
    stroke-dasharray: 2,2;
}
.alph-floater-overlay rect.coincidence{
    fill: rgba(64,128,192,0.2);
}
.alph-floater-overlay polygon.coincidence{
    /* fill: rgba(64,128,192,0.2); */
    fill: var(--transpointer-color);    
}
.alph-floater-overlay rect.activeElement{
    fill: rgba(192,192,128,0.2);
}
div.titleTab{
    cursor: move;
    position: fixed;
    background-color: rgba(0,0,0,0.75);
    color: white;
    min-width: 5em;
    overflow: hidden;
    white-space: nowrap;
    /* padding: 0.2em 1em 0.2em 0.5em; */
    padding: 0px 0px 1px 0px;
    font-size: 0.7em;
    font-weight: bold;
    font-family: var(--dptronui-font);
    /* border-radius: 15px 15px 0px 0px; */
    z-index: 999 !important;
}

div.titleTab:hover{
    background-color: black;
    color: white;
}
div.titleTab.alphActiveItem:hover{
    background-color: black;
    color: white;
}
div.titleTab span{
    padding: 0.2em 1em 0.2em 0.5em;
    pointer-events: none;
}
div.tabBar{
    height: 2px;
    background-color: rgba(128,128,128,0.8);
    mix-blend-mode: difference;
    width: 100%;
}
.titleTabBurger:hover {
    background-color: gray;
}
.titleTabBurger{
    display: inline-block;
    /* border-radius: 1em;
    border: solid gray 2px; */
    border: none;
    /* height: 1em; */
    height: 1.4em;
    width: 1em;
    /* background-color: transparent; */
    background-color: #333;
    color: black;
    margin-right: 0.4em;
    mix-blend-mode: difference;
    vertical-align: middle;
    text-align: center;
    font-size: 1em;
    cursor: context-menu;
}
x-floater.noodleBox{
    padding: 10px;
    max-width: 720px;
}
x-floater.noodleBox x-text {
    background-color: transparent;
    padding: 0.2em 0.5em;
    /* color: black; */
    white-space: pre-wrap;
    display: block;
    border-right: solid transparent 2px;
    border-left: solid transparent 2px;
}
x-floater.noodleBox x-text[contenteditable="false"] {
    /* border-right: dotted black 2px; */
}
x-floater.noodleBox x-text[contenteditable="true"]:focus {
    outline: none; /*dashed 1px red;
    border-top: dotted 1px black;
    border-bottom: dotted 1px black; */
    box-shadow: -3px 0px 0px rgba(0,0,0,0.5);
}
x-floater.noodleBox pre{
    font-family: monospace;
}

/* --- FLAP --- */
#dptron-palette > b {
    color: #4BD;
}
#dptronSideFlap {
    position: fixed;
    background-color: #111;
    opacity: 0.99;
    width: 500px;
    right: -500px;
    padding: 0px;
    font-weight: normal;
    top: 0px;
    bottom: 0px;
    transition: top 0.5s, right 0.5s;
    overflow: visible;
}
#dptronSideFlap a{
    color: white;
    text-decoration: none;
}
#dptronSideFlap a:hover{
    color: pink;
}
#dptronSideFlap input{
    padding: 0.2em;
}
#dptronSideFlap kbd{
    font-family: var(--dptronui-font);
    font-weight: bold;
    background-color: #222;
    border: outset 2px #333;
}
#dptronSideFlap h1, #dptronSideFlap h2, #dptronSideFlap h3 {
    font-family: var(--dptronui-font);
}
#sourcesFilter {
    width: 100%;
}
#sideFlapTabToggle {
    
    position: relative;
    left: -32px;
    transition: transform 0.25s;
    transform: rotate(0deg);
}
#dptron-flap{
    font-family: var(--dptronui-font);
    font-size: 14px;
    font-weight: bold;
    background-color: #222;
    border-bottom: solid black 1px;
    color: #ccc;
    position: fixed;
    top: -100px;
    left: 0px;
    right: 0px;
    transition: top 0.5s;
    opacity: 0.85;
    z-index: 999;
}
#dptron-palette{
    font-family: var(--dptronui-font);
    font-size: 14px;
    font-weight: bold;
    background-color: #222;
    border-bottom: solid black 1px;
    color: #ccc;
    position: fixed;
    top: -100px;
    left: 0px;
    /*right: 0px;*/
    transition: top 0.5s;
    opacity: 0.85;
    z-index: 999;
}
#dptron-flap>*{
    margin: 0.3em;
    vertical-align: middle;
}
.dptron-flap-icon{
    border: none;
    height: 24px;
    /*margin: 0.5em;*/
    filter: invert(80%);
    vertical-align: top;
}
.dptron-flap-icon:hover{
    filter: invert(100%);
    text-decoration: none;
}
.dptron-flap-glyph-icon{
    cursor: pointer;
    font-size: 32px;
    color: black;
    filter: invert(80%);
}
#dptron-flap input[type="text"], #dptron-flap select{
    background-color: var(--dptronui-input-bg);
    color: var(--dptronui--input-fg);
    border: solid 1px rgba(0,0,0,0);
    font-family: var(--dptronui-font);
    font-size: 1em;
    /*padding: 0.3em;*/
    height: 24px;
    /*margin: 0.2em;*/
}
#dptron-flap input[type="text"]:focus, #dptron-flap select:focus{
    outline: none;
    background-color: var(--dptronui-hotinput-bg);
    border: solid 1px #944;
}
#dptron-flap input[type="button"], #dptron-flap button{
    color: #ddd;
    background-color: #222;
    border: solid 1px #222;
    padding: 0.2em;
    margin: 0.2em;
}
#dptron-flap input[type="button"]:hover, #dptron-flap button:hover{
    border-top: solid 1px #333;
    border-bottom: solid 1px #111;
    color: pink;
}
#dptron-flap input[type="range"] {
    border: 1px #444 solid;
    border-radius: 0px;
    appearance: none;
    background-color: #333;
    margin: 0px 10px;
    vertical-align: text-bottom;
    height: 15px;
    padding: 0px;
}
#dptron-flap input[type="range"]::-moz-range-thumb {
    border: 1px #666 solid;
    border-radius: 0px;
    appearance: none;
    background-color: #444;
}
#dptron-flap input[type="range"]::-moz-range-thumb:hover {
    background-color: var(--alph-red);
}
.linksFlapItem{
    margin-bottom: 0.25em;
    border-top: 1px solid #444;
}
.dptron-controls {
    display: inline-block;
}
.dptron-controls img{vertical-align: middle;}
.dptron-controls label{
    /*padding: 0.2em;*/
}
.dptron-controls>*{
    vertical-align: middle;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
.dptron-controls input[type="text"]{
    border: solid 0px black;
}

/* SOURCES flap ***** */

#sourcesPane, #linksPane{
    display: flex;
    flex-flow: column; /* flex-direction: ? */
    height: 100%;
    width: 100%;
}
/* ----- */
#dptronSourceListDiv {
    background-color: #111;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 66%;
    max-height: 66%;
}
#dptronSourceListDiv li{
  height: 1.1em;
  padding: 0.15em;
  background-color: black;
  border-bottom: solid 1px #111;
  width:1000px;
  overflow: hidden;
  cursor: default;
}
#dptronSourceListDiv li.pinned::before{
  content: "📌";
}
#dptronSourceListDiv li:hover{
  color: white;
}
#dptronSourceListDiv li[data-noodleid]{
    background-color: #111;
    border-bottom: 1px black solid;
}
#dptronSourceListDiv ul{
  list-style:none;
  margin: 0px;
  padding: 0.1em;
}
#dptronSourceListDiv .sourcesHeader {
    background-color: #222;
    color: white;
    border-bottom: solid #666 1px;
}
#dptronSourceListDiv .sourcesMatch {
    padding-left: 1em;
}

#dptronSourceInfoDiv {
    background-color: #000;
    border-top: solid #ccc 3px;
    padding: 0.5em;
    overflow: auto;
}

#dptronSourceInfoDiv pre {
    white-space: pre-wrap;
}

#dptronSourcesFlapHeader {
    background-color: #111;
    border-bottom: solid 3px #ccc;
}

/* LINKS flap ***** */

#dptronLinkListDiv {
    background-color: #111;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
}
.dptronGraphListHead {

}
.dptronGraphListHead span.graphName{
    width: 300px;
    display: inline-block;
    padding: 5px 10px 0px;
    overflow: hidden;
    vertical-align: text-bottom;
}
.dptronGraphListHead span.toggler{
    cursor: pointer;
    padding: 0px 5px;
}
#dptronLinkInfoDiv {
    max-height: 40%;
    overflow: auto;
    border-top: solid 2px #333;
}
#dptronLinkInfoDiv .heading {
    padding: 5px;
    font-weight: bold;
    position: sticky;
    top: 0px;
    background-color: #111;
}
#edgePaletteList {
    padding: 5px;
    overflow-x: hidden;
}
#edgePaletteList .edgeName{
    display: inline-block;
    overflow: hidden;
    vertical-align: text-bottom;
    padding-left: 5px;
}
#edgePaletteList input[type="color"]{
    height: 20px;
    width: 40px;
    background-color: transparent;
    border: none;
}
#edgePaletteList input::-moz-color-swatch {
    border: none;
    border-radius: 0px;
}

/* WORKSPACES flap ***** */

#sessionPane, #settingsPane {padding: 0.5em; flex-flow: column;}
#sessionPane a, #sessionPane input{
    text-decoration: none;
    color: #ccc;
    font-size: smaller;
    display: inline-block;
    background-color: #000;
    margin: 0.1em;
    padding: 0.2em;
    border: solid #222 1px;
}
#sessionPane h3{ margin: 0.0em; background-color: black; padding: 0.2em;}
#sessionListContainer {overflow: auto; max-height: 50vh;}
#dptronSessionList{ list-style: none; padding-left: 0em; margin: 0.25em; }
#dptronSessionList>li a{ background-color: transparent; border: transparent 0px solid; }
#dptronSessionList>li a.currentSession{ color: white; font-weight: bold; }

#dptronSourcesFlapHeader a:hover{
    background-color: #333;
    color: white;
}
#dptronSideFlapTabs {
    position: sticky;
    top: 0px;
    background-color: #111;
}
#dptronSideFlapTabs img{
  padding: 0.25em;
}
#dptronSideFlapTabs img:hover{
  background-color: white;
}
.dptronSideFlapTab{
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
    padding: 0em 0.3em;
    border-bottom: solid transparent 3px;
    cursor: default;
}
.dptronSideFlapTab:hover{
    background-color: black;
    color: white;
}
.dptronActiveTab{
    border-bottom: solid white 3px;
}
#dptronUserCSS {
    width: 100%;
    height: 40em;
    background-color: black;
    color: white;
    border-style: none;
}

/* --- CONTEXT MENUS --- */
.alph-contextmenu{
    border-top: 0px; /*border-top: #111 solid 0.5em;*/
    z-index: 99999;
    background-color: black;
    color: white;
    position: fixed;
    font-family: "Roboto", sans-serif;
    font-size: smaller;
    text-transform: uppercase;
    border-left: 10px solid var(--alph-red);
    border-radius: 0px 0px 0px 10px;
}
.alph-contextmenuitem{
    border: 0px;
    border-bottom: 1px solid #222;
    background-color: black;
    color: #ccc;
    padding: 0.2em;
    padding-left: 5px;
    cursor: default;
}
.alph-contextmenuitem:hover{
    /*background-color: #222;*/
    color: var(--alph-red);
}
.alph-contextmenuitem.alph-contextmenutitle{
    padding: 0.5em;
    border-bottom: solid var(--alph-red) 1px;
    text-transform: none;
}
.alph-contextmenuitem.alph-contextmenudivider{
    border-top: solid 1px var(--alph-red);
}


/* --- BUFFER/SCRATCHPAD --- */
#buffer{
    white-space: pre-wrap;
    font-size: 14px;
    font-family: "PT Mono", monospace;
}
#bufferEditor{
    padding: 0px;
    background-color: #ddd;
    color: #222;
    overflow: auto;
}
#alph-bufferdiv{
    padding: 1em;
    white-space: pre-line;
    margin: none;
    
}
#alph-bufferinput{
    margin: none;
    border: none;
    padding: 1em;
    font-size: 14px;
    font-family: "PT Mono", monospace;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    outline: none;
    overflow: auto;
}
#alph-scratchpad{
    position: sticky;
    bottom: 0px;
}


/* --- SVG OVERLAY --- */
#alphOverlay {
    position: fixed;
    top: 0px;
    left: 0px;
    pointer-events: none;
    mix-blend-mode: hard-light;
    border: none;
    z-index: 999;
}
#alphOverlay line.coincidence{
    stroke-width: 3;
    stroke: rgba(64,128,192,0.4);
    stroke-dasharray: 4,3;
}
#alphOverlay polyline.coincidence{
        stroke-width: 6;
    stroke: rgba(64,128,192,0.4);
}
#alphOverlay line.hyperlink{
    stroke-width: 3;
    stroke: rgba(128,192,64,0.4);
}
#alphOverlay line.weblink{
    stroke-width: 3;
    stroke: rgba(192,64,128,0.4);
    stroke-dasharray: 2,2;
}
#alphOverlay rect.coincidence{
    fill: rgba(64,128,192,0.2);

}
#alphOverlay polygon.coincidence{
    /* fill: rgba(64,128,192,0.2); */
    fill: var(--transpointer-color);    
}

#alphOverlay rect.activeElement{
    fill: rgba(192,192,128,0.2);
}
.dptron-simplepointer{
    stroke: rgba(80, 64, 48, 0.75); /*#543;*/
    stroke-width: 3;
    fill: none;
}
.dptron-pointerBridge{
    stroke: var(--linkpointer-color);
    stroke-width: 2;
    fill: var(--linkpointer-color);
    opacity: var(--dptron-edgeIntensity);
}
.dptron-equivSP{
    stroke: var(--linkpointer-color);
    stroke-width: 2;
    stroke-dasharray: 3;
    stroke-linecap: round;
    fill: none;
    opacity: var(--dptron-edgeIntensity);
}
.dptron-partialSP{
    stroke: var(--linkpointer-color);
    stroke-width: 3;
    stroke-dasharray: 4;
    fill: none;
    opacity: var(--dptron-edgeIntensity);
    cursor: context-menu;
    pointer-events: all;
}
#dptron-linkPointer{
    fill: context-stroke;
}
#dptron-linkPointer:hover{
    fill: var(--linkpointer-hovercolor); 
}
.dptron-linkBridge{
    stroke: var(--linkpointer-color); 
    stroke-width: 3.5;
    fill: var(--linkpointer-color);
    pointer-events: all;
    cursor: context-menu;
    opacity: var(--dptron-edgeIntensity);    
}
.dptron-linkBridge:hover {
    stroke: var(--linkpointer-hovercolor);
}
#dptronRelSelectorBox {
    position: absolute;
    background-color: var(--dptronui-bg);
    border: solid black 1px;
    border-top: 0px;
    padding: 2px 10px;
    margin: 0px;
}
#dptronRelSelectorBox button {
    font-family: var(--dptronui-font);
    background-color: #222;
    padding: 0.3em;
    color: white;
    border: solid #111 1px;
}
#dptronRelSelectorBox button:hover {
    color: var(--alph-red);
    border: solid var(--alph-red) 1px;
}
.dptron-linkerTerminalA {
    stroke: var(--dptron-linkerTerminalA-fill);
    fill: var(--dptron-linkerTerminalA-fill);
}
.dptron-linkerTerminalB {
    stroke: var(--dptron-linkerTerminalB-fill);
    fill: var(--dptron-linkerTerminalB-fill);    
}
#dptron-linkerNodeA {
    stroke: var(--dptron-linkerNodeA-fill);
    stroke-width: 0;
    fill: var(--dptron-linkerNodeA-fill);
    pointer-events: all;
}
#dptron-linkerNodeB {
    stroke: var(--dptron-linkerNodeB-fill);
    stroke-width: 0;
    fill: var(--dptron-linkerNodeB-fill);
    pointer-events: all;
}
.linkerNodeText {
    font: normal 10px 'Roboto Condensed';
}
#linkerANode {
    stroke: var(--dptron-linkerNodeA-fill);
}
#dptron-linkerPointer{
    fill: context-stroke;
}
#dptron-linkerPointer:hover{
    /*fill: var(--dptron-linkerBridge-stroke);*/
}
.dptron-linkerBridge {
    stroke: var(--dptron-linkerBridge-stroke);
    stroke-width: 3.5;
    pointer-events: none;
}
@keyframes simpleNexus-glow {
    0% {fill: rgba(192,30,30,0.75); stroke: rgba(192,30,30,0.75);}
    50% {fill: rgba(255, 38,38,0.75); stroke: rgba(255,38,38,0.75);}
    100% {fill: rgba(192,30,30,0.75); stroke: rgba(192,30,30,0.75);}
}
.dptron-simpleNexus{
    pointer-events: all;
    cursor: context-menu;
    stroke: rgba(192,30,30,0.75);
    stroke-width: 0;
    fill: rgba(192,30,30,0.75);
    animation: simpleNexus-glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.dptron-simpleNexus:hover{
    stroke-width: 5;
}
g.linkTerminalGroup.hot *{
    stroke: rgba(255,128,32,0.75);
    stroke-width: 0;
    fill: rgba(255,128,32,0.3);
    mix-blend-mode: difference;
}
g.linkTerminalGroup.cold *{
    stroke: rgba(32,128,255,0.75);
    stroke-width: 0;
    fill: rgba(32,128,255,0.3);
    mix-blend-mode: difference;
}
g.linkTerminalGroup:hover{
    pointer-events: all;
    stroke: #f00;
    stroke-width: 2;
}
rect.linkTerminal {
    fill: rgba(48,80,64,0.15);
    /*mix-blend-mode: multiply;*/
}
rect.linkTerminal:hover {
    mix-blend-mode: color-burn;
    cursor:pointer;
}
rect.selectionRect{
    stroke: rgba(255, 0, 0, 1);
    fill: rgba(200, 100, 100, 0.3);
}

/* --- EDIT-MODE STUFF --- */
.alph-editor-tagname{
    font-size: 9px;
    stroke: none;
    fill: grey;
    font-family: sans-serif;
}
#alphDOMCursor{
    z-index: 9999;
    position: fixed;
    pointer-events: none;
    /*mix-blend-mode: multiply;*/
    mix-blend-mode: difference;
    top: 0px;
    left: 0px;
    /*background-color: rgba(192,192,128,0.2);*/
    /*background-color: rgba(128,128,128,0.135);*/
}
#alphDOMCursor > div{
    position: fixed;
    background-color: rgba(128,128,128,0.135);
}
#alphDOMCursorInfotext{
    z-index: 9999;
    mix-blend-mode: normal;
    font-size: 9px;
    position: fixed;
    color: grey;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px #888;
    background-color: rgba(255,255,255,0.66);
    padding: 0.2em;
}
#alphDOMCursorInfotext strong{
    color: black;
    background-color: white;
    padding: 0.2em;
    font-size: larger;
    /*mix-blend-mode: difference;*/
}

#alph-main ul.attributeForm{
    margin: none;
    list-style: none;
    padding: 0px;
}
#alph-main ul.attributeForm input[type="text"]{
    border: solid 0px transparent;
    margin: 1px;
    display: inline-block;
    background-color: #222;
}
#alph-main ul.attributeForm input[type="text"].idInput{
    background-color: black;
}
#alph-main ul.attributeForm input[type="text"]:disabled{
    background-color: #222; color: #888;
}
#alph-main ul.attributeForm li{
    display: flex;
    flex-direction: row;
}
#alph-main input[type="text"].attributeValue{
    background-color: #333; color: #DDD;
    flex-grow: 4;
}
#alph-main input[type="text"].attributeKey{
    background-color: #282828; color: #BBB;
    flex-grow: 1;
}
#alph-main input[type="text"].attributeValue.inputChanged{
    background-color: #422; color: #F88;
}

.xanadoc {
    padding: 1em;
    white-space: pre-wrap;
}
span.dptronPaletteItem{
    margin: 0em 0.3em;
}
span.dptronPaletteItem mark{
    font-weight: bold;
    background-color: transparent;
    color: azure;
}
x-floater.linkEditor{
    z-index: 99999;
}
x-floater.linkEditor span.nodeMunglor-oldNode{
    display: inline-block;
    max-width: 30vw;
    overflow: hidden;
    vertical-align: middle;
}

x-floater.dptronUI{
    display: flex;
    flex-direction: column;
    background-color: #333 !important;
    color: #ccc !important;
}
x-floater.dptronUI * {
    font-family: var(--dptronui-font);
}
x-floater.dptronUI h1, x-floater.dptronUI h2, x-floater.dptronUI h3, x-floater.dptronUI h4 {
    font-family: var(dptronui-font);
    margin-bottom: 0.5em;
    background-color: #111;
    padding: 0.25em;
}
x-floater.dptronUI a{
    color: white;
}
x-floater.dptronUI div{
    padding: 0px;
}
x-floater.dptronUI div.padded{
    padding: 0.5em;
}

x-floater.dptronUI input{
    background-color: #222;
    color: #ddd;
    border: solid 0px #000;
    padding: 0.3em;
    margin: 1px;
}
x-floater.dptronUI select{
  background-color: var(--dptronui-select-bg);
  color: var(--dptronui-input-fg);
  border: none;
}
x-floater.dptronUI textarea{
    background-color: #111;
    color: #ddd;
    border: solid black 1px;
    font-family: monospace;
}
x-floater.dptronUI input[type='button'], x-floater.dptronUI button{
    font-family: var(--dptronui-font);
    background-color: #222;
    padding: 0.3em;
    color: white;
    border: solid #111 1px;
}

x-floater.dptronUI input[type='button']:hover, x-floater.dptronUI button:hover{
    color: red;
    border: solid #111 1px;
}
x-floater.dptronUI div.shaded {
    background-color: #0003;
}
table.dptronColorPicker {
    border-collapse: collapse;
    border: solid black 1px; 
    cursor: pointer;
    width: 100%;
}

table.dptronColorPicker td{
    font-family: monospace;
    font-size: smaller;
    border: solid black 1px;
    min-width: 10px;
}
table.dptronColorPicker td:hover{
    border-color: red;
}


.graphTable {padding: 0em 0.5em;}
.graphTable-anode{
  color: pink;
  cursor: pointer;
}
.graphTable-anode::after{
  content: "-->";
}
.graphTable-rel {
    color: yellow;
    cursor: pointer;
}
.graphTable-rel::after{
  content: "-->";
}
.graphTable-bnode{
  color: limegreen;
  cursor: pointer;
}

#alphAnchorBug {
    fill: var(--alph-red);
    stroke: var(--alph-red);
}
#alphFocusBug {
    fill: var(--alph-red);
    stroke: var(--alph-red);
}
